@{
	ViewData["Title"] = "Home Page";
}
<script>
	window.onload = function() {
		if(!window.location.hash) {
			window.location = window.location + '#loaded';
			window.location.reload();
		}
	}
</script>
<body>
	<div class="shop">
		<img class="large-img" src="/images/SquishSale.jpeg" alt="Squishmallows">
		<div id="new-txt" class="squishmallow-info">BRAND NEW</div>
		<div id="squishmallow-txt" class="squishmallow-info">SQUISHMALLOWS</div>
		<div class="shop-btn-pos">
			<button class="shop-btn" onclick="location.href='@Url.Action("Squishmallows", "Product")'">SHOP NOW</button>
		</div>
	</div>
	<div class="pop">
		<h1 class="divide-txt">Popular</h1>
		<div class="pop-element">
			<img class="pop-img" src="/images/LegoBricks.jpg" alt="Legos"/>
			<div id="legos-pos" class="pop-btn-pos">
				<button id="legos-btn" class="shop-btn" onclick="location.href='@Url.Action("Legos", "Product")'">SHOP LEGOS</button>
			</div>
		</div>
		<div class="pop-element">
			<img id="puzzles-img" class="pop-img" src="/images/PuzzlePieces.jpg" alt="Puzzle pieces"/>
			<div id="puzzles-pos" class="pop-btn-pos">
				<button id="puzzles-btn" class="shop-btn" onclick="location.href='@Url.Action("Puzzles", "Product")'">SHOP PUZZLES</button>
			</div>
		</div>
	</div> 
	<div class="amongus">
		<h1 class="divide-txt">Featured</h1>
		<img class="large-img" src="/images/AmongUsHome.jpg" alt="Among us">
		<div id="rainbow-txt" class="amongus-info">RAINBOW</div>
		<div id="amongus-txt" class="amongus-info">AMONG US</div>
		<div id="popit-txt" class="amongus-info">POP IT</div>
		<div class="amongus-shop-btn-pos">
			<button id="amongus-shop-btn" class="shop-btn" onclick="location.href = '@Url.Action("Fidgets", "Product")'">SHOP FIDGETS</button>
		</div>
	</div>
	
	<div class="pop">
		<div class="pop-element">
			<img class="pop-img" src="/images/aboutUs.jpg" alt="About us"/>
			<div id="legos-pos" class="aboutcontact-pop-btn-pos">
				<button id="legos-btn" class="shop-btn" onclick="location.href='@Url.Action("About", "About")'">ABOUT US</button>
			</div>
		</div>
		<div class="pop-element">
			<img id="puzzles-img" class="pop-img" src="/images/ContactUs.jpg" alt="Contact us"/>
			<div id="puzzles-pos" class="aboutcontact-pop-btn-pos">
				<button id="puzzles-btn" class="shop-btn" onclick="location.href='@Url.Action("Contact", "Contact")'">CONTACT US</button>
			</div>
		</div>
</body>
