@model Group1FinalProject.Models.CheckoutModel
@{
	ViewData["Title"] = "Checkout";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>@ViewData["Title"]</h1>

<h2>Review Items</h2>
	<table class="table">
		<thead>
		<tr>
			<th></th>
			<th>Product Name</th>
			<th>Price</th>
			<th>Quantity</th>
		</tr>
		</thead>
		<tbody>
		@foreach (var product in Model.CartItems)
		{
			<tr>
				<td>
					<img src="@Url.Content(product.Image)" width="100" height="100" alt=""/>
				</td>
				<td>
					@Html.DisplayFor(modelItem => product.ProductName)
					<div id="price">$@Html.DisplayFor(modelItem => product.Price)/ea</div>
				</td>
				<td>
					$@Html.DisplayFor(modelItem => product.ProductsPrice)
				</td>
				<td>
					@Html.DisplayFor(modelItem => product.Quantity)
				</td>
			</tr>
		}
		</tbody>
	</table>

	<div class="summary">
		<h2 id="summary-txt" class="summary-info">Summary</h2>
		<div class="summary-info">
			Subtotal
			<span>$@Html.DisplayFor(modelItem => Model.Subtotal)</span>
		</div>
		<div class="summary-info">
			Shipping & Handling
			@if (Model.Shipping == 0)
			{
			<span>FREE</span>
			}
			else
			{
			<span>$5.00</span>
			}
		</div>
		<div class="summary-info">
			Taxes
			<span>$@Html.DisplayFor(modelItem => Model.Taxes)</span>
		</div>
		<hr/>
		<div class="summary-info">
			Total
			<span>$@Html.DisplayFor(modelItem => Model.Total)</span>
		</div>
		<input type="submit" value="Purchase" id="purchase" class="summary-info" onclick="location.href = '@Url.Action("Purchase", "Checkout")'"/>
	</div>