@using Microsoft.CodeAnalysis.VisualBasic.Syntax
@model Group1FinalProject.Models.CheckoutModel
@{
	ViewData["Title"] = "Checkout";
	Layout = "~/Views/Shared/_Layout.cshtml";
	var shippingCost = -1;
}
<h1>@ViewData["Title"]</h1>

@using (Html.BeginForm(actionName: "PurchaseInfo", "Checkout", FormMethod.Post))
{
	<h2>Shipping</h2>
	<div>
		<div class="shipping">
			<input type="radio" name="shipping" id="free" value="0.0" runat="server" onclick=""/>
			FREE<br/>Approx. 5-7 Business Days
		</div>
		<div class="shipping" id="five-shipping">
			<input type="radio" name="shipping" id="five" value="5.00" runat="server"/>
			$5.00<br/>1-3 Business Days
		</div>
	</div>

	<h2>Payment Information</h2>
	<div>
		<div class="payment-info">
			<h3>Card Number</h3>
			@Html.TextBoxFor(x => x.CardNumber, new { id = "txtCardNumber", @class = "form-control" })
			@Html.ValidationMessageFor(m => m.CardNumber, "", new { @class = "text-danger" })
		</div>
		<div class="payment-info">
			<h3>Name on Card</h3>
			@Html.TextBoxFor(x => x.NameOnCard, new { id = "txtNameOnCard", @class = "form-control" })
			@Html.ValidationMessageFor(m => m.NameOnCard, "", new { @class = "text-danger" })
		</div>
		<div class="payment-info">
			<h3>Expiration Date</h3>
			<p>Format: MM/YYYY</p>
			@Html.TextBoxFor(x => x.ExpirationDate, new { id = "txtExpirationDate", @class = "form-control" })
			@Html.ValidationMessageFor(m => m.ExpirationDate, "", new { @class = "text-danger" })
		</div>
	</div>

	<script>
		if (document.getElementById("five").checked == true) {
			shippingCost = 5;
		} else {
			shippingCost = 0;
		}
	</script>

	<input id="review-btn" type="submit" value="Review Items"/>
}