@model IEnumerable<Group1FinalProject.Models.Product>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Products</h1>

<p>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductId)
            </th>
	        <th>
		        @Html.DisplayNameFor(model => model.ProductName)
	        </th>
	        <th>
		        @Html.DisplayNameFor(model => model.Price)
	        </th>
	        <th>
		        @Html.DisplayNameFor(model => model.Rating)
	        </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductId)
            </td>
	        <td>
		        @Html.DisplayFor(modelItem => item.ProductName) 
	        </td>
	        <td>
		        $@Html.DisplayFor(modelItem => item.Price)
	        </td>
	        <td>
		        @Html.DisplayFor(modelItem => item.Rating)
	        </td>
            <td>
                @Html.ActionLink("Add to Cart", actionName:"add")
            </td>
        </tr>
}
    </tbody>
</table>
