@model IEnumerable<Group1FinalProject.Models.Product>

@{
	ViewData["Title"] = "Search Results";
	Layout = "~/Views/Shared/_Layout.cshtml";
	var searchString = TempData["SearchString"];
	int hasResults = (int) TempData["HasResults"];
}

@if (hasResults == 0)
{
	<h1>No results for "@searchString"</h1>
}
else
{
	<h1>Search results for "@searchString"</h1>

	<p>
	</p>
	<table class="table">
		<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Image)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.ProductName)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Price)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Rating)
			</th>
		</tr>
		</thead>
		<tbody>
		@foreach (var item in Model) {
			<tr>
				<td>
					<img src = "@Url.Content(item.Image)" width="100" height="100"/>
				</td>
				<td>
					@Html.ActionLink(item.ProductName, "DetailedProduct", item)
				</td>
				<td>
					$@Html.DisplayFor(modelItem => item.Price)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Rating)
				</td>
				<td>
					@Html.ActionLink("Add to cart", "AddToCart", new {ProductId = (item.ProductId)})
				</td>
			</tr>
		}
		</tbody>
	</table>
}